$color-primary: #323232; 
$color-primary2: #0095FF;
$color-primary3: #AFAFAF;
$color-primary4: #FFFFFF; 

$color-secondary: #000000; 
$color-secondary2: #0065AD; 
$color-secondary3: #E1E1E1; 
$color-secondary4: #FAFAFA; 