@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;

.upload { 
    padding: 1rem;
    border-top: 0.0625rem solid $color-secondary3 ;

    @include tablet { 
        padding: 1.5rem;
    }

    @include desktop {
        padding-left: 5rem;
        padding-right: 5rem;
        padding-bottom: 5rem;
    }

    &__heading {
        color: $color-primary;

        @include tablet { 
            font-size: 2.06rem;
            padding-bottom: 3rem;
            border-bottom: 0.0625rem solid $color-secondary3;
        }
    }

    &__info-container {
        @include desktop {
            display: flex;
        }
    }

    &__subheading {
        color: $color-primary3;
        font-weight: 600;
        font-size: 0.8rem;
    }

    &__subform { 
        width: 100%;
        margin-top: 1rem;
        display: flex; 
        flex-wrap: wrap;

        @include desktop { 
            margin-left: 2rem;
        }
    }

    &__image-container { 
        background-color: $color-secondary3;
        width: 100%;
        margin-top: 0.25rem;

        @include tablet {  
            width: 50%;
            margin-top: 0.5rem;
        }
    }

    &__img { 
        width: 100%;
        height: 100%;
        border-radius: 0.25rem;
    }

    &__id { 
        margin-bottom: 0.25rem;
        color: $color-primary3;
        font-weight: 600;
        font-size: 0.8rem;
    }

    &__description { 
        margin-top: 1rem;
        margin-bottom: 0.25rem;
        font-weight: 600;
        font-size: 0.8rem;
        color: $color-primary3;
    }

    &__box {
        width: 100%;
        resize: none;
        background-color: $color-secondary4;
        border-radius: 0.25rem;
        border-color: $color-secondary3;
        height: 3rem;
        overflow: hidden;

        &::placeholder { 
            color: $color-primary;
            padding: 0.75rem;
            font-size: 1rem;
            font-weight: 600;
        }

        &:focus { 
            outline: none;
            border-color: $color-primary2;  
        }
        &--size {
            height: 6rem;
        }
    }

    &__submission { 
        display: flex;
        flex-wrap: wrap;
        margin-top: 1.5rem;

        @include tablet { 
            flex-wrap: nowrap;
            justify-content: flex-end;
            padding-top: 2rem;
            border-top: 0.0625rem solid $color-secondary3;
        }
    }

    &__button-link { 
        width: 100%;
        margin-bottom: 1.5rem;
        text-decoration: none;

        @include tablet { 
            width: 9rem;
            order: 2;
            margin-left: 4.5rem;
        }
    }

    &__button { 
        width: 100%; 
        display: flex;
        align-items: center;
        height: 2.5rem;
        border-radius: 0.25rem;
        background-color: $color-primary2;
        color: white;
        border: none;

        &:hover { 
            background-color: $color-secondary2;
        }

        @include tablet { 
            margin-top: 0;
            margin-right: 1rem;
        }

        @include desktop {

        }
    }

    &__button-icon { 
        width: 42%;
        text-align: left;

        @include tablet {
            width: 38%;
        }
    }

    &__button-description { 
        width: 50%;
        text-align: left;
    }

    &__cancel-link {
        margin: auto;
        text-decoration: none;
        color: $color-primary2;
        font-weight: 600;
        font-size: 1rem;

        @include tablet { 
            margin: 0;
            margin-top: 0.9rem;
        }
    }
}